---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";

const description = "Coming soon.";
---

<Layout description={description}>
	<div
		class="bg-black flex flex-col gap-10 items-center justify-center w-screen h-screen"
	>
		<svg viewBox="0 0 362.5 162.68" class="fill-white mx-20 max-w-screen-sm">
			<Logo />
		</svg>
		<p class="text-white font-medium">Coming soon.</p>
	</div>
</Layout>
